<div class="col-md-12">
  <div class="d-flex align-items-baseline container-row">
    <div *ngIf="content.isLeaf">
      <input type="checkbox" (change)="mark()" [checked]="isCompleted"/>
    </div>
    <div *ngIf="!content.isLeaf">
      ({{content.doneItems}}/{{content.totalOfItems}})
    </div>
    <div [style]="TitleStyle">
      {{content.Title}}
    </div>
    <div class="d-flex">
      <a (click)="addNested()" class="p-1">
        <i class="fa fa-level-down"></i>
      </a>
      <a *ngIf="hasFather" (click)="addEqualBefore()" class="p-1">
        <i class="fa fa-arrow-up"></i>
      </a>
      <a *ngIf="hasFather" (click)="addEqualAfter()" class="p-1">
        <i class="fa fa-arrow-down"></i>
      </a>
      <a (click)="edit()" class="p-1">
        <i class="fa fa-edit"></i>
      </a>
      <a *ngIf="hasFather" (click)="removeFromFather()" class="p-1">
        <i class="fa fa-trash"></i>
      </a>
    </div>
  </div>
  <div *ngIf="!content.isLeaf">
    <ul *ngFor="let child of content.Children">
      <app-container
        [content]="child"
        [title]="title"
        (notifyChange)="_notifyChange()"
      >
      </app-container>
    </ul>
  </div>
</div>
