<div class="col-md-12 accordion" [id]="containerUuid">
  <div [class]="accordionItemClassOrNot">
    <div class="accordion-header" [id]="headerUuid">
      <button [class]="buttonClassOrNot"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="addHash(bodyUuid)"
              aria-expanded="true"
              [attr.aria-controls]="bodyUuid"
      >
        <div class="d-flex align-items-baseline container-row">
          <div *ngIf="delegate.isLeaf">
            <input type="checkbox" (change)="toggle()" [checked]="isCompleted"/>
          </div>
          <div *ngIf="!delegate.isLeaf">
            ({{delegate.doneItems}}/{{delegate.totalOfItems}})
          </div>
          <div [style]="TitleStyle">
            {{delegate.Title}}
          </div>
          <span style="color: gray"> | </span>
          <div class="d-flex action">
            <a (click)="addNested()" class="p-1">
              <i class="fa fa-level-down"></i>
            </a>
            <a *ngIf="isNotRoot" (click)="addEqualBefore()" class="p-1">
              <i class="fa fa-arrow-up"></i>
            </a>
            <a *ngIf="isNotRoot" (click)="addEqualAfter()" class="p-1">
              <i class="fa fa-arrow-down"></i>
            </a>
            <a *ngIf="isNotRoot" (click)="edit()" class="p-1">
              <i class="fa fa-edit"></i>
            </a>
            <a *ngIf="isNotRoot" (click)="liftCopyToRootAndCut()" class="p-1">
              <i class="fa fa-copy"></i>
            </a>
            <a (click)="receiveCopy()" class="p-1">
              <i class="fa fa-paste"></i>
            </a>
            <a *ngIf="isNotRoot" (click)="removeThisFromFather()" class="p-1">
              <i class="fa fa-trash"></i>
            </a>
          </div>
        </div>
      </button>
    </div>
    <div [id]="bodyUuid"
         class="accordion-collapse collapse show"
         [attr.aria-labelledby]="headerUuid"
         [attr.data-bs-parent]="addHash(containerUuid)"
         *ngIf="!delegate.isLeaf"
    >
      <div class="accordion-body container-body">
        <ul *ngFor="let child of delegate.Children">
          <app-container
            [delegate]="child"
            [title]="title"
            (notifyChange)="_notifyChange()"
          >
          </app-container>
        </ul>
      </div>
    </div>
  </div>
</div>
